# Python
__pycache__/
*.py[cod]
mario*.py
*$py.class
venv/
.venv/
main.py

# Iridium Environment
.env
*.log
src/
\src

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Carpeta
zadquieltardio-iridium-1.4.6/